@import url(../../AllDevice/privacyPolicy/extraLarge.device.css);
@import url(../../AllDevice/privacyPolicy/large.device.css);
@import url(../../AllDevice/privacyPolicy/medium.device.css);
@import url(../../AllDevice/privacyPolicy/small.device.css);
@import url(../../AllDevice/privacyPolicy/extraSmall.device.css);