@import url(../../AllDevice/contact/extraLarge.device.css);
@import url(../../AllDevice/contact/large.device.css);
@import url(../../AllDevice/contact/medium.device.css);
@import url(../../AllDevice/contact/small.device.css);
@import url(../../AllDevice/contact/extraSmall.device.css);